.gitignore
Untitled-1.ipynb
archive/
MODELDATASET/
1.png
156_capilla.obj
MODELDATASET.zip
output.png
1.png
__pycache__/
stuff/
img/
revisiones/
rotaciones.ipynb
Data_explor.ipynb
objetos/
obj/
position/
metricas.npz
duck/
metricas_duck.npz
trayectoria_camara_prueba.json
objects/
